

<div class=page-header>
  <div class=pull-right>
    <%= link_to 'Edit', edit_project_task_path(@project, @task), class:"btn btn-info" %>
  </div>
  <h1><strong><%= @task.description %></h1></strong></div>

  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li class="active"><%= link_to @project.name, project_path(@project) %></li>
    <li class="active"><%= @task.description %></li>
  </ol>

  <strong>Due on:</strong>
  <%= @task.task_due_date.to_s.gsub("-", "/") %>
