

<div class=page-header>
  <div class=pull-right>
    <% if current_user.project_owner?(@project) %>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info' %>
    <% end %>
  </div>

<h1><strong><%= @project.name %></strong></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>

</ol>
<p>
  <% if @project.tasks.count != 0 %>
  <%= link_to "#{@project.tasks.count} #{"Task"}", project_tasks_path(@project)  %>
  <% else %>
  <%= link_to "#{@project.tasks.count} #{"Tasks"}", project_tasks_path(@project)  %>
  <% end %>
</p>

<p>
  <% if @project.memberships != 1 %>
  <%= link_to "#{@project.memberships.count} #{"Members"}", project_memberships_path(@project) %>
  <% else %>
  <%= link_to "#{@project.memberships.count} #{"Member"}", project_memberships_path(@project) %>
  <% end %>
</p>

<% if current_user.project_owner?(@project) %>
<div class="well">
  <h4>Delete Project</h4>
  <p>Deleting this project will also delete <%= "#{@project.memberships.count} #{"memberships"}" %>, <%= "#{@project.tasks.count}" %> task and associated comments.</p>
  <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
</div>
<% end %>
