

<div class=page-header>
  <div class=pull-right>
    <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-info' %>
    <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
    <!-- <%= link_to 'New Task', new_project_task_path(@project), class: 'btn btn-primary' %> -->
  </div>

<h1><strong><%= @project.name %></strong></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>

</ol>
<p>
  <% if @project.tasks.count != 0 %>
  <%= link_to "#{@project.tasks.count} #{"Task"}", project_tasks_path(@project)  %>
  <% else %>
  <%= link_to "#{@project.tasks.count} #{"Tasks"}", project_tasks_path(@project)  %>
  <% end %>
</p>
